<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>This application is created by Raj Patil as a practice project of node.js<br>
           Application is still under developement So you will see some updates after some time
           Thank you !
        </p>
        <img class="potrait" src="/img/profile.jpeg" alt="" srcset="">
    </div>
    {{>footer}}
</body>

</html>